html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

h1 {
   text-align: center;
   font-size: 1.5vw 
}

h2 {
    text-align: center;
    font-size: 1.5vw;
}

h3 {
    text-align: center;
    font-size: 1.5vw;
}

h4 {
    text-align: center;
    font-size: 1.5vw;
}

p {
    text-align: center;
    font-size: 1.5vw;
}

div {
    text-align: center;
    font-size: 1.5vw;
}

#BM121 {
    border: 1;
    height: 20%;
    width: 20%;
}

#page-title {
    text-align: center;
    color: white;
}

#website-description {
    text-align: center;
    color: blue;
}

#ign {
    color: blue;
}

#ow {
    color: rgb(255, 153, 0);
}

#owh {
    height: 2.5%;
    width: 2.5%;
}

#val {
    color: orangered;
}

#valo {
    height: 1.75%;
    width: 1.75%;
}

#likes {
    color: aqua;
}

#music {
    color: blueviolet;
}

#food {
    color: greenyellow;
}

#spicy {
    color: red;
}

#ic1 {
    color: brown;
}

#clothes {
    color: yellow;
}

#blue1 {
    color: blue;
}

#dislikes {
    color: rgb(209, 63, 0);
}

#going-out {
    color: green;
}

#socializing {
    color: rgb(165, 96, 0);
}

#vege {
    color: rgb(119, 255, 35);
}